<!-- <div class="skeleton">
  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
</div> -->

<div class="container__big-card">
  <div class="big-card__picture">
    <img
      src="https://julianamoorecaligrafia.files.wordpress.com/2015/01/diagrama-fontes2.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card__text">
    <div class="big-card__date">
      <p>01 de Maio de 2023</p>
    </div>

    <div class="big-card__title">
      <h2>
        <a href="#"
          >Várias maneiras de usar tipografia ousada no design de sites</a
        >
      </h2>
    </div>

    <div class="big-card__description">
      <a href="#">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eaque
          soluta ab, eveniet perferendis non sit illo harum quibusdam fugit. At
          consectetur in incidunt cumque laborum aliquid hic unde aspernatur.
        </p>
      </a>
    </div>
  </div>
</div>
