<!-- <div class="skeleton">
  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
</div> -->

<div class="container__big-card">
  <div class="big-card__picture">
    <a [routerLink]="['content', id]">
      <img src="{{ imageCover }}" alt="image MArvel" srcset="" />
    </a>
  </div>
  <div class="big-card__text">
    <div class="big-card__date">
      <p>01 de Maio de 2023</p>
    </div>

    <div class="big-card__title">
      <h2>
        <a [routerLink]="['content', id]">{{ cardTitle }}</a>
      </h2>
    </div>

    <div class="big-card__description">
      <a [routerLink]="['content', id]">
        <p>
          {{ cardDescription }}
        </p>
      </a>
    </div>
  </div>
</div>
