.container__menu-title {
  width: 100%;
}

.container__menu-title > hr {
  border-color: var(--color-gray);
  opacity: 0.3;
}

.container__menu-title > div {
  width: 100%;
}

.container__menu-title > div > h1 {
  font-size: 4rem;
  font-weight: 700;

  display: flex;
  justify-content: center;

  font-family: var(color-font-sans-serif);
  color: var(--color-white);
}

@media screen and (min-width: 729px) and (max-width: 800px) {
  .container__menu-title > div > h1 {
    font-size: 9.5rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  .container__menu-title > div > h1 {
    font-size: 10.5rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1080px) {
  .container__menu-title > div > h1 {
    font-size: 10.5rem;
  }
}

@media screen and (min-width: 1081px) {
  .container__menu-title > div > h1 {
    font-size: 14rem;
  }
}
