<div class="container__small-card">
  <div class="small-card__content">
    <div class="small-card__picture">
      <img
        src="./../../../assets/image/thumb_article15.jpg"
        alt="image-cover"
        srcset=""
      />
    </div>

    <div class="small-card__text">
      <p>11 de janeiro de 2023</p>
      <a href="#">
        <h2>
          A exploração de design pode ser usada para se candidatar a empregos de
          UI Designer?
        </h2>
      </a>
    </div>
  </div>

  <hr />
</div>
