.container__content {
  max-width: 600px;
  height: 100%;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  position: relative;
}

.content-cover {
  padding: 20px;
}

.container__content > .content-cover {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 30px;
}

.container__content > .content-cover > div {
  display: flex;
  justify-content: end;

  margin-right: 10px;
}

.container__content > .content-cover > div > a {
  display: flex;

  gap: 10px;
}

.container__content > .content-cover > img {
  width: auto;
  max-width: 600px;
  max-height: 800px;

  border-radius: 12px;

  /* object-fit: cover;
  object-position: 0 30%;

  overflow: hidden; */
}
.container__content > .content-title > h1 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 36px;
  letter-spacing: 0px;

  padding: 30px;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content-description {
  padding: 20px 50px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.container__content > .content-description > p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;

  text-align: justify;
  text-justify: inter-word;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .container__content {
    align-items: center;
  }
}

@media screen and (max-width: 801px) {
  .container__content > .content-cover > img {
    width: 320px;
    max-width: 600px;
    max-height: 800px;
  }

  .content-title {
    display: flex;
    justify-content: center;
  }

  .content-description {
    display: flex;
    justify-content: center;
  }
}
