<section class="container__content">
  <div class="content-cover">
    <img
      src="https://cdn.marvel.com/content/1x/assembled_gotg3_digital_keyart_v3_lg.jpg"
      alt=""
    />
  </div>
  <div class="content-title">
    <h1>
      Marvel Studios' Assembled: The Making of Guardians of the Galaxy Vol. 3’
      Is Now Streaming on Disney+
    </h1>
  </div>
  <div class="container__link">
    <div class="link-content">
      <a [routerLink]="['']"><< VOLTAR</a>
    </div>
  </div>
  <div class="content-description">
    <p>
      You enjoyed that one last ride, and now you can go behind the scenes of
      stunning caper to James Gunn's cosmic trilogy, with Marvel Studios'
      Assembled: The Making of Guardians of the Galaxy Vol. 3 now streaming
      exclusively on Disney+. In Guardians of the Galaxy Vol. 3 our beloved band
      of misfits are settling into life on Knowhere. But it isn’t long before
      their lives are upended by the echoes of Rocket’s turbulent past. Peter
      Quill, still reeling from the loss of Gamora, must rally his team around
      him on a dangerous mission to save Rocket’s life—a mission that, if not
      completed successfully, could quite possibly lead to the end of the
      Guardians as we know them. The film stars Chris Pratt, Zoe Saldaña, Dave
      Bautista, Karen Gillan, Pom Klementieff, featuring Vin Diesel as Groot and
      Bradley Cooper as Rocket, Sean Gunn, Chukwudi Iwuji, Will Poulter and
      Maria Bakalova. James Gunn is the director and also wrote the screenplay.
      Kevin Feige produces with Louis D’Esposito, Victoria Alonso, Nikolas
      Korda, Sara Smith, and Simon Hatt serving as executive producers. Marvel
      Studios’ Guardians of the Galaxy Vol. 3 is now streaming exclusively on
      Disney+ and after watching that, go behind-the-scenes with Marvel Studios'
      Assembled: The Making of Guardians of the Galaxy Vol. 3 THE HYPE BOX
      Can’t-miss news and updates from across the Marvel Universe! COMICS The
      Seasons Change for Wanda Maximoff in 'Scarlet Witch' #10 TV SHOWS ‘Marvel
      Studios' Assembled: The Making of Secret Invasion' Is Now Streaming on
      Disney+ PODCASTS The 'Women of Marvel' Guide to Janet Van Dyne, AKA Wasp
      CULTURE & LIFESTYLE Behind The Scenes of Marvel Studios' 'Thor: Love and
      Thunder' with Chris Hemsworth TV SHOWS Witness 'The Amazing Loki' - New
      Loki Season 2 Featurette Released In this article: Marvel Studios
      Assembled, Guardians of the Galaxy Vol. 3
    </p>
  </div>
</section>
