<main class="container">
  <header>
    <app-menu-bar></app-menu-bar>
  </header>

  <app-menu-title></app-menu-title>

  <section class="container__articles">
    <div>
      <div class="articles__main">
        <app-big-card
          imageCover="https://julianamoorecaligrafia.files.wordpress.com/2015/01/diagrama-fontes2.png"
          cardTitle="Várias maneiras de usar tipografia ousada no design de sites"
          cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eaque soluta ab, eveniet perferendis non sit illo harum quibusdam fugit. At  consectetur in incidunt cumque laborum aliquid hic unde aspernatur."
        ></app-big-card>

        <div class="articles__small-card">
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
        </div>
      </div>

      <div class="articles__separator">
        <hr />
      </div>
    </div>

    <div>
      <div class="articles__main">
        <app-big-card></app-big-card>

        <div class="articles__small-card">
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
          <app-small-card></app-small-card>
        </div>
      </div>

      <div class="articles__separator">
        <hr />
      </div>
    </div>
  </section>
</main>

<!-- @media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
} -->
