.container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 15px;
}

.container__articles {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.articles__separator > hr {
  width: 60%;
  border-color: var(--color-gray);
  opacity: 0.3;

  margin-bottom: 15px;
}

.articles__main {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;

  gap: 50px;
  padding: 20px;
}

.articles__main > .articles__small-card {
  display: flex;
  flex-direction: column;
}
