<section class="container__menu-bar">
  <div class="menu-bar__logo">
    <a href="#">
      <img src="../../../assets/image/logo.png" alt="" />
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a target="_blank" href="https://linkedin.com/in/toledomg/">
          Linkedin
        </a>
      </li>

      <li>
        <a target="_blank" href="https://github.com/toledomg"> GitHub </a>
      </li>
      <li>
        <a target="_blank" href="https://instagram.com/oalextoledo/">
          Instagran
        </a>
      </li>
    </ul>
  </nav>
</section>
