.container__menu-bar {
  max-width: 729px;
  min-width: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 5px;
  padding: 10px;
}

.container__menu-bar > div > a > img {
  width: 50px;
}

.container__menu-bar > nav > ul {
  display: flex;
  justify-content: row;

  gap: 20px;
}

@media screen and (min-width: 729px) and (max-width: 800px) {
  .container__menu-bar {
  }
}

@media screen and (min-width: 801px) {
  .container__menu-bar {
    min-width: 1000px;

    justify-content: space-around;

    gap: 50px;
  }

  .container__menu-bar > div > a > img {
    width: 80px;
  }

  .container__menu-bar > nav > ul {
    gap: 30px;
  }
}
