.container__menu-bar {
  min-width: 1000px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 50px;
}

.container__menu-bar > div > a > img {
  width: 80px;
}

.container__menu-bar > nav > ul {
  display: flex;
  justify-content: row;

  gap: 30px;
}
